@font-face {
    font-family: 'Yeseva One';
    src: URL(YesevaOne-Regular.ttf);}
    html {
        background-color: rgb(255, 0, 8);
    }
    body {
    font-family: 'Yeseva One';
    background-color:#3B3166 ;
    width: 1440px;
    height: 8519px;
    display: block;
    margin: 0 auto;
    }
    .facade {
        width: 1441px;
        height: 920.5px;
        margin: 0 auto;
        background-image: url(images/facade.svg)
    }
   .facade h1 {
        margin: 193px auto auto 490px;
        position: absolute;
        font-size: 80px;
        
    }
    .facade h3 {
        font-size: 42px;
    }
    .cosmetics h4 {
        font-size: 38px;
    }
    .table {
        margin-top: 654px;
    }
   

    .cosmetics h4 {
        margin: 340px auto auto 23px;
        position: absolute;
    }
    .cosmetics img {
        margin: 579px auto auto 69px;
        position: absolute;
    }

    .perfume h4 {
        margin-top: 336px;
        margin-left: 1220px; 
        position: absolute;
    }
    .perfume img {
        margin-top: 644px;
        margin-left: 1244px;
        position: absolute;
    }
    h3 {
        position: absolute;
        margin-left: 496px;
        margin-top: 393px;
    }
   .facade {
  color: #3B3166;
   }
/* 
   .computer {
    width: 1466.5px;
    height: 1101.5px;
    margin-top: 124px;
    margin-left: -0.5px;
    position: absolute;
   } */

   .computer {
    width: 1440px;
    height: 1101.5px;
    margin: 135px auto;
    background-image: url(images/computertable.svg)
   }

   /* section > img { 
   margin-top: 11px;
   margin-left: 687px; 
   }
    */
   .computer > img { 
    margin-top: 11px;
    margin-left: 687px; 
    position: absolute;
    }
    
    .vebsite {
       width: 499px; 
       height: 394.75px;
       position: absolute;
       margin: 58.25px 834.5px;

    }
    .vebsite h1 {
        font-size: 25px;
        margin: 48.75px 12px 12px;
        color: #FAF4FF;
    }
    .vebsite h2 {
        font-size: 20px;
        margin: 17.5px auto 12px 14px;
        color: #3B3166;
    }
    blockquote {
        font-size: 14.72px;
        width: 350px;
        height: 90px;
        margin: 22px 131px 19.75px 21px;
        line-height: 1.1;
        position: absolute;
    }
    blockquote::before {
        content: '';
        width: 2px;
        height: 100px;
        background: #3B3166;
        position: absolute;
        top: 0;
        left: -7px;
        margin: -2.25px 0px;
    }

   blockquote+img {
        margin: 143px 246px 10px 10px
    }

    .vebsite h3 {
        font-size: 20px;
        margin: 206px 15.49px 22px 142px;
        width: 222px;
        height: 46px;
        line-height: 1.1;
        }

    .creams {
       
        width: 120.45px;
        height: 120.45px;
        margin: 11px 16px 0px 376px;
        /* margin: 1187.86px 0 0 1226.68px; */
        position: absolute;
        /* display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
	justify-content: center; */
}
     .creams img {
        width: 120.45px;
        height: 120.45px;
     }      
    